
body{
    background-color: #E2ECEC;
}

#bottom-menu{
    background-color: #33CCFF;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 100%;
    left: 0;
    box-shadow: 0px -3px 7px 3px #818282;
    padding-top: 3px;
    padding-bottom: 4px;
}

#bottom-menu li{
    display: inline;
    list-style-type: none;
    padding: 3px;
    padding-left: 2px;
    padding-right: 2px;
    
}

#bottom-menu li button{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 10%;
    padding-left: 10%;
}

#ham-menu{
    background-color: #33CCFF;
    height: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 3px 7px 3px #818282;
}