
body{
    background-color: #E2ECEC;
    margin-bottom: 10%;
}

#bottom-menu{
    background-color: #33CCFF;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 0px 44px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 0px 44px -2px rgba(0,0,0,0.43);
    box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 0px 44px -2px rgba(0,0,0,0.43);
    height: 4em;
}

#bottom-menu li{
    display: inline;
    list-style-type: none;
    padding: 1px;
    
}

#bottom-menu li button{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-right: 10%;
    padding-left: 10%;
}

#ham-menu{
    background-color: #33CCFF;
    height: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 5px 15px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 5px 15px -2px rgba(0,0,0,0.43);
    box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 5px 15px -2px rgba(0,0,0,0.43);
}

#new-menu{
    background-color: #33CCFF;
    position: fixed;
    -webkit-box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 0px 44px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 0px 44px -2px rgba(0,0,0,0.43);
    box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 0px 44px -2px rgba(0,0,0,0.43);
    top: 20%;
    margin: 15px;
    padding: 6px;
}



#new-menu input{
    width: 100%;
}

#new-menu textarea{
    width: 100%;
}

#new-menu ul{
    width: 100%;
    
}

#new-menu ul li{
    display: inline;
    list-style-type: none;
    padding: 0.1em;
}

#new-menu ul li button span{
    padding: 0;
}

#note-area{
    margin-left: 25%;
    margin-right: 25%;
    
}

.note{
    -webkit-box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 0px 15px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 0px 15px -2px rgba(0,0,0,0.43);
    box-shadow: inset 0px 0px 94px -37px rgba(0,0,0,0.2), 0px 0px 15px -2px rgba(0,0,0,0.43);
    background-color: #C4DDE6;
    padding: 0.5%;
}

.note img{
    width: 100%;
    padding: 1%;
}

.note div{
    left: 0;
    top: 0;
    display: inline;
}